<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<p>sobremi works!</p>

<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of equipo">
        <h5>Programa: {{item.programa}}</h5>
        <h5>Área: {{item.area}} </h5>
        <h6>Año: {{item.fecha}} </h6>
    </li>
    </ul>
</body>
</html>