<div class="container bg-dark text-white text-center my4 py-2">
  <h1>Formulario de Contacto</h1>
</div>
<div class="bg-dark text-white mt-5">
    <div class="bg-dark text-white mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ingresá tu Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="bg-dark text-white mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Dejame tu comentario:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
        <button class="btn bg-dark text-white btn-primary" type="button">Enviar</button>
      </div>
      </div>